.knob {
  width: 104px;
  height: 66px;
  position: absolute;
  vertical-align: middle;
  margin-top: 66px;
  margin-left: -152px;
  border: 0px;
  font-weight: bold; 
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-size: 40px;
  line-height: normal;
  font-family: Arial;
  text-align: center;
  color: transparent;
  padding: 0px;
  -webkit-appearance: none;
  background: none;
}