/* bootstrap override */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (max-width: 768px) {
  .table-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .ribbon {
    width: 230px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .col-sm-5ths {
        width: 20%;
        float: left;
  }
  #feeder-container {
    position: fixed;
    margin-right: 15px;
  }
  
  .table-container {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .ribbon {
    width: 550px;
    font-size:24px;
  }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
/* end of bootstrap override */

html {
   height: 100vh;
}

label {
  font-size: 9pt;
}

.username {
  font-size: 14pt;
}

.level {
  font-size: 9pt;
}

.stretch {
    height: 100%;
}

.parent {
    display: table;    
}



.child {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.caption {
  color: dimgray;
  font-style: italic;
  font-size: 6.5pt;
}

.nav-pills>li.active>a,
.nav-pills>li>a:hover{
    background: #568d8a;
    border-radius: 0px;
    margin: 0px;
}

select[readonly] {
  border: none;
  background-color: transparent;
}

.form-control[readonly] {
  background-color: transparent;
}

.nav-pills>li:hover{
    
}

.thumbnail{
    border: none;
    padding: 0px;
}

.img-center {
    margin: auto;
}

#wrapper {
    position: relative;
    margin: 0px;
}

.side-margins {
  margin: 65px 150px 0px 150px;
}

.abs {
    position: absolute;
    width: 100%;
}

.wiz-container {
    padding: 50px 0px 50px 0px;
    margin: 100px;
    background: white;
}

.wiz-head-step {
    text-align: center;
    color: #a8a8a8;
}

.step-head {
    font-size: 14pt;
}

.step-caption {
    font-size: 9pt;
}

.wiz-head-active {
    /* uigradients.com - sunrise */
    background: #568d8a;
    text-align: center;
    color: #ececea;
}

.body-goldfish {
    background: #69d2e7;
}

.submit-validation:top{
    border-top: 1px dashed #da5050;
}

.ribbon {
    position: absolute;
    text-align: center;
    background: #d64b4b;
    background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
    background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
    background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
    background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
    -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
    left: 0;
    right: 0;
    margin: 0 auto;
   }
.ribbon h1 {
   font-size: 25px!important;
   color: #f8ecec;
   text-shadow: #d65c5c 0 1px 0;
   margin:0px;
   padding: 15px 10px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #c23a3a;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #871616 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }

.error {
    font-size: 8.5pt;
    color: firebrick;
}

.tooltip-inner {
    white-space: pre;
    /* you can also try white-space: normal; */
    
    text-align: left;
    max-width: 285px;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.color-white {
    color: white;
}

.left-align{
    text-align: left;
}

.tip {
    font-family: sans-serif;
    font-size: 10pt;
}

.glyphicon {
    font-family: inherit;
}

.glyphicon:before {
    font-family: 'Glyphicons Halflings';
}
/* uigradients.com */

.gradient-ash {
    background: -webkit-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
    /* Opera 11.10+ */
    
    background: linear-gradient(90deg, #606c88 10%, #3f4c6b 90%);
    /* W3C */
}

.gradient-pinot-noir {
    background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* Opera 11.10+ */
    
    background: linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* W3C */
}

.gradient-giant-goldfish {
    background: -webkit-linear-gradient(90deg, #a7dbdb 10%, #69d2e7 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #a7dbdb 10%, #69d2e7 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #a7dbdb 10%, #69d2e7 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #a7dbdb 10%, #69d2e7 90%);
    /* Opera 11.10+ */
    
    background: linear-gradient(90deg, #a7dbdb 10%, #69d2e7 90%);
    /* W3C */
}

.gradient-titanium {
    background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* Opera 11.10+ */
    
    background: linear-gradient(90deg, #4b6cb7 10%, #182848 90%);
    /* W3C */
}

.gradient-midnight-city {
    background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #232526 10%, #414345 90%);
    /* Opera 11.10+ */
    
    background: linear-gradient(90deg, #232526 10%, #414345 90%);
    /* W3C */
}

.gradient-steel-gray {
    background: -webkit-linear-gradient(90deg, #1F1C2C 10%, #928DAB 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #1F1C2C 10%, #928DAB 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #1F1C2C 10%, #928DAB 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #1F1C2C 10%, #928DAB 90%);
    /* Opera 11.10+ */
    
    background: linear-gradient(90deg, #1F1C2C 10%, #928DAB 90%);
    /* W3C */
}

.gradient-mirage {
    background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* Opera 11.10+ */
    
    background: linear-gradient(90deg, #16222A 10%, #3A6073 90%);
    /* W3C */
}

.gradient-curiosity-blue {
    background: -webkit-linear-gradient(90deg, #525252 10%, #3d72b4 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #525252 10%, #3d72b4 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #525252 10%, #3d72b4 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #525252 10%, #3d72b4 90%);
    /* Opera 11.10+ */
    
    background: linear-gradient(90deg, #525252 10%, #3d72b4 90%);
    /* W3C */
}

.gradient-instagram {
    background: -webkit-linear-gradient(90deg, #517fa4 10%, #243949 90%);
    /* Chrome 10+, Saf5.1+ */
    
    background: -moz-linear-gradient(90deg, #517fa4 10%, #243949 90%);
    /* FF3.6+ */
    
    background: -ms-linear-gradient(90deg, #517fa4 10%, #243949 90%);
    /* IE10 */
    
    background: -o-linear-gradient(90deg, #517fa4 10%, #243949 90%);
    /* Opera 11.10+ */
    
    background: linear-gradient(90deg, #517fa4 10%, #243949 90%);
    /* W3C */
}

.description-content {
  margin: 0;     padding: 10px 50px;     position: relative;     font-family: Georgia, serif;     color: #666;     font-style: italic;    min-height: 100px;   
}

.description-content:before, .description-content:after {     content: "\201C";     position: absolute;     font-size: 80px;     line-height: 1;     color: #999;     font-style: normal; } .description-content:before {     top: 0;     left: 10px; } .description-content:after {     content: "\201D";     right: 10px;     bottom: -0.5em; } - See more at: http://www.siteart.co.uk/pretty-css-testimonials#sthash.1dLcOoTl.dpuf

.no-border {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.edit-controls {
  width: 100%;
  box-sizing: border-box;
  height: 35px;
  padding: 5px;
  font-style: normal;
  font-family: monospace;
}

.badgeShow {
  width: 100px;
  height: 100px;
}



.profileEntry {
  margin: 0px 0px 25px 0px;
}

.profileQuote {
  padding: 0px;
  margin: 0px;
}

blockquote {
  padding: 10px 0px;
  margin: 0 0 0px;
  font-size: 17.5px;
  border: none;
}

textarea {
  resize: none;
}

.txtaDescription {
  border: none;                 !important;
  overflow: auto;               !important;
  outline: none;                !important;
  background-color: transparent !important;

  -webkit-box-shadow: none;     !important;
  -moz-box-shadow: none;        !important;
  box-shadow: none;             !important;
}

.input-no-border {
  border: none;               !important;
  overflow: auto;             !important;
  outline: none;              !important;

  -webkit-box-shadow: none;   !important;
  -moz-box-shadow: none;      !important;
  box-shadow: none;           !important;
}

.xiphiasMenu:hover {
  background: #568d8a;
}

.avatarImage {
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.activee {
  background: #e9e
}

.wrapper {
  margin-top: 10px;
  margin-bottom: 25px;
}

.sidebar-wrapper {
  position: fixed;
}

.content-wrapper {
  width: 100%;
  left: 250px;
}

.badge-level {
  margin-bottom: 10px;
}

.form-control-2 {
/*    display: block;*/
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.upgrade-picture {
    width: 65px;
    height: 65px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.upgrade-picture:hover, .picture:hover{
    border-color: #2ca8ff;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.upgrade-picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    
}
.badge-upgrade-thumbnail {
  width: 65px;
  height: 65px;
}


.badge-level-wrapper {
  counter-reset: level-counter 1;
}

.badge-level-content {
  counter-increment: level-counter;
  margin-top: 10px;
}

.badge-level-content:before {
  content: 'Level ' counter(level-counter);
}

ul.grid {
  list-style: none;
  font-size: 0px;
  padding: 0px;
}

ul.grid li {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

ul.grid li img {
  max-width: 100%;
  height: auto;
}

ul.grid.columns-3 li {
  width: 30.83%;
}
.badge-thumb {
  cursor: pointer;
}

.badge-level-delete {
  margin-top: 30px;
}

.m-right {
  margin-right: 10px;
}

.add-badge {
}

.add-badge:hover {
  background-color: aqua;
  padding: 11.5px 15px 11.5px 15px;
  margin: -11px -15px 10px 10px;
  overflow: hidden
}


/*  radio button css
    derived from creative tim's radio button
*/

.choice{
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}
.choice .icon{
   text-align: center;
   vertical-align: middle;
   height: 100px;
   width: 100px;
   border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
   background-color: #999999;
   color: #FFFFFF;
   margin: 0 auto 20px;
   border: 4px solid #CCCCCC;
   transition: all 0.2s;
   -webkit-transition: all 0.2s;
}

.icon-1{
   text-align: center;
   vertical-align: middle;
   height: 100px;
   width: 100px;
   border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
   background-color: #999999;
   color: #FFFFFF;
   margin: 0 auto 20px;
   border: 4px solid #CCCCCC;
   transition: all 0.2s;
   -webkit-transition: all 0.2s;
}

.choice i{
    font-size: 30px;
    line-height: 111px;
}

.choice:hover .icon, .choice.active .icon{
    border-color: #2ca8ff;
}

.choice input[type="radio"]{
    position: absolute;
    left: -10000px;
    z-index: -1;
}
ul.scrollable-menu {
  padding: 0px;
  list-style: none;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.row-fluid .quest-list {
  height: 20px;
}



#list-party-members {
  list-style: none;
  padding: 0px;
}

.list-item-pmember {
  padding: 0px 10px 0px 10px;
}

.list-item-pmember:hover {
  background-color: lightgray;
}

.vcenter {
  vertical-align: middle;
  display: inline-block;
}

.verticalContainer {
  height: 30px; 
  line-height: 30px;
}

.vertically-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.disabled-list-item {
  font-size: 9pt;
  background-color: darkgray;
  padding: 5px;
}

.disabled-list-item:hover {
  background-color: darkgray;
  height: 30px;
}

.dashboard-entry: hover {
  background-color: darkgrey;
}

.dashboard-add-badge {
  z-index: 1000;
  background-color: blue;
}

.dashboard-add-badge:hover {
  z-index: 1000;
  background-color: blue;
}

a.nav-home {
  color: #d9853c;
}

.error-warning {
  font-size: 14pt;
  color: darkgray;
}

.badge-thumb:hover{
  border: 5px solid darkgray;
}

.bordered{
  border: 5px solid darkgray;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}
.dashed-bottom:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  border-width: 2px;
  border-color: aqua;
  border-style: dashed;
}

.register-wizard {
  position: relative;
  margin: 2em auto;
  width: 100%;
  text-align: left;
  font-size: 2.5em;
}

.register-wizard .input-group {
  width: 100%;
}

.register-wizard .form-control {
  min-height: 60px;
  font-size: 20px;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.register-wizard .form-control:focus {
  border: 1px solid #ccc;
  border-bottom: 3px solid #d9853c;
}

.register-wizard .choice {
  text-align: center;
}

.register-wizard .choice .icon {
  margin-bottom: 0px;
}

.register-wizard .choice-label {
  text-align: center;
  font-size: 0.8em;
}

.register-wizard .choice-description {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  color: #585858;
  padding-top: 20px;
}

.register-wizard .btn.toggleable {
  width: 50%;
  min-height: 60px;
  font-size: 20px;
  color: #555;
  outline: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.register-wizard .btn.toggleable:hover {
  background-color: white;
  border-bottom: 3px dashed #d9853c;
}

.register-wizard .btn.toggleable.focus {
  
}

.register-wizard .btn.toggleable.active {
  border-bottom: 3px solid #d9853c;
  background-color: white;
}

.register-wizard .btn.btn-orange {
  background-color: #d9853c;
  font-size: 18px;
  color: white;
}

.register-wizard .submit {
  display: none;
  
}

/*
.register-wizard .controls {
  display: none;
}
*/

ol {
  list-style: none;
  padding: 0px
}

.next {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  padding: 0;
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
/*  opacity: 0;*/
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.convo li {
  z-index: 100;
  position: relative;
  display: none;
  height: 0;
  -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
  transition: visibility 0s 0.4s, height 0s 0.4s;
}

.convo li.current {
  display: list-item;
  visibility: visible;
  
  height: auto;
  -webkit-transition: none;
  transition: none;
}

.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#back-to-login {
  color: #568d8a;
  padding: 5px;
  text-decoration: none;
}

#back-to-login:hover {
  text-decoration: none;
  border: 2px dashed #568d8a;
  padding: 5px;
}

/* profile styles */
.modal {
  padding-right: 0px !important;
}

.edit-profile-dialog .modal-dialog {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 0;
  margin: 0;
}

.edit-profile-dialog .modal-header {
  background-color: white !important;
  color: #73afad !important;
}

.edit-profile-dialog .bootstrap-dialog-title {
  background-color: white !important;
  color: #73afad !important;
}

.edit-profile-dialog .modal-content {
  min-height: 100vh;
  height: auto;
  border-radius: 0px;
}

#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }

#stream-container {
  height: 80vh;
  overflow-y: auto;
}

#stream-container::-webkit-scrollbar, .fixed-table-body::-webkit-scrollbar {
    width: 5px;
}
 
#stream-container::-webkit-scrollbar-track, .fixed-table-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}
 
#stream-container::-webkit-scrollbar-thumb, .fixed-table-body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important; 
}
.banner {
  background-color: #73afad;
  border-bottom: 3px dashed white;
  padding: 10px;
  color: white;
}

#feeder {
  padding: 0;
}

/* --------------------

  Timeline

-----------------------*/

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 800px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 800px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 800px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
/*
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
*/
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 800px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
  .cd-timeline-img img {
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
  /*
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  */
  }
}

@media only screen and (max-width: 799px) {
  .cd-timeline-img img {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 50%;
  /*
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  */
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 800px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 800px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.dashboard-button {
  border: 0;
  background-color: transparent;
  height: 39px;
  width: 39px;
  padding: 0px;
  margin-top: -20.5px;
  margin-right: -15px;
  outline: none;
}

.dashboard-button:hover {
  background-color: #c37736;
}

.nav>li>.dashboard-menuitem {
  color: black;
}

.nav>li>a.dashboard-menuitem:focus, .nav>li>a.dashboard-menuitem:hover {
  background-color: #d9853c !important;
  color: white;
}
